.daily-forecast-container {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 14px;
  min-width: 70%;
  gap: 2vh;
  padding: 4%;
  background: rgba(196, 196, 196, 0.5);
  border-radius: 24px;
}

.daily-forecast-container.dark {
  background: rgba(0, 0, 0, 0.5);
}

.single-day-container {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: auto;
  align-items: center;
}

.weekday-temp {
  display: flex;
  flex-direction: row;
  gap: 2vw;
}
