.search-bar-input {
  width: 80%;
  border: none;
  outline: none;
  background: rgba(252, 241, 241, 0.6);
  left: 5.56%;
  right: 35.76%;
  border-radius: 32px;
  height: 40px;
  width: 676px;
  font-family: "Noto Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.4);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-image: url("../assets/icons/biSearch.svg");
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding-left: 64px;
}
