.container {
  display: grid;
  margin: 0 4vw;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.5fr 0.5fr 1.5fr;
  gap: 0px 12vw;
  grid-auto-flow: row;
  grid-template-areas:
    "header-container header-container"
    "city-name temp-hourlyforecast-container"
    "daily-forecast temp-hourlyforecast-container";
}

.header-container {
  display: grid;
  grid-template-columns: 2.2fr 0.4fr 0.4fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "search-bar toggle-button-container day-night-icon";
  grid-area: header-container;
  align-items: center;
}

.search-bar {
  grid-area: search-bar;
}

.toggle-button-container {
  grid-area: toggle-button-container;
  display: flex;
  justify-content: flex-end;
}

.day-night-icon {
  grid-area: day-night-icon;
  display: flex;
  justify-content: flex-end;
}

.city-name {
  grid-area: city-name;
}

.temp-hourlyforecast-container {
  grid-area: temp-hourlyforecast-container;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-auto-flow: row;
  grid-template-areas:
    "current-temp"
    "hourly-forecast";
}

.current-temp {
  grid-area: current-temp;
  display: flex;
  justify-content: center;
}

.hourly-forecast {
  grid-area: hourly-forecast;
  display: grid;
  align-items: center;
}

.daily-forecast {
  grid-area: daily-forecast;
  display: flex;
  align-items: center;
}

/* For mobile responsiveness */
@media only screen and (max-width: 720px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 15vh 10vh 1.5fr 1.2fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "header-container"
      "city-name"
      "temp-hourlyforecast-container"
      "daily-forecast";
  }

  .header-container {
    grid-area: header-container;
    display: grid;
    margin-top: 4%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "search-bar search-bar search-bar toggle-button-container"
      ". . . day-night-icon";
  }

  .search-bar {
    grid-area: search-bar;
  }

  .toggle-button-container {
    grid-area: toggle-button-container;
  }

  .day-night-icon {
    grid-area: day-night-icon;
    display: flex;
    justify-content: flex-end;
  }

  .city-name {
    grid-area: city-name;
    display: flex;
    justify-content: center;
  }

  .temp-hourlyforecast-container {
    grid-area: temp-hourlyforecast-container;
  }

  .daily-forecast {
    grid-area: daily-forecast;
    justify-content: center;
    grid-auto-flow: row;
  }
}
